// vars

//
$text-primary: #000000;
$text-secondary: #666;
$font-default: "SF UI Display", sans-serif;
$font-primary: "SF UI Display", sans-serif;

$text-size: 15px;
$font-white: #fff;
$font-gray: #cfe0ff; //#919cb0;
$bg-dark-blue: #131829;

$color-1: #ffffff;
$color-2: #212121;
$color-3: #E58037;
$color-4: #E2E4E4;
$color-5: #808080;
$color-6: #FFFFFF57;
$color-7: #BBBBBB;
$color-8: #D7D6D5;
$color-9: #2B2E34;

$base-gradient: linear-gradient(81.58deg, #E55137 20.63%, #E58037 75.93%);;

$color-red: #d93d3d;
$color-green: #4ead58;
$color-yellow: #fec94c;
$color-bg: #161924;

// Grid system
$screen-xs: 360px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;

$container-xs: 0px;
$container-sm: 540px;
$container-md: 720px;
$container-lg: 960px;
$container-xl: 1140px;
$container-xxl: 1320px;

/*
// Columns
$container-max-widths: (
    xs: $container-xs,
    sm: $container-sm,
    md: $container-md,
    lg: $container-lg,
    xl: $container-xl,
    xxl: $container-xxl
) !default;

$grid-breakpoints: (
  xs: $screen-xs,
  sm: $screen-sm,
  md: $screen-md,
  lg: $screen-lg,
  xl: $screen-xl,
  xxl: $screen-xxl
) !default;*/

$container-max-widths: ( //xs: 360px,
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px);
$grid-breakpoints: (xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px);


// Grid columns
$gutter: 10px;
$grid-columns: 12 !default;
$grid-gutter-width: $gutter*2 !default;

$h1-font-sizes: (null : 1.875rem, // 30px
  768px : 2.5rem, // 40px
  1024px: 3.75rem // 60px
);

$h2-font-sizes: (null : 1.5rem, // 24px
  768px : 2rem, // 32px
  1024px: 2rem // 32px
);

$h3-font-sizes: (null : 1.375rem, // 22px
  768px : 1.625rem, // 26px
  1024px: 2rem // 32px
);

$h4-font-sizes: (null : 1.25rem, // 20px
  768px : 1.25rem, // 20px
  1024px: 1.625rem // 26px
);

$h5-font-sizes: (null : 1rem, // 17px
  768px : 1rem, // 17px
  1024px: 1.25rem // 20px
);

$p-font-sizes: (null : 0.875rem, // 14px
  768px : 0.938rem, // 15px
  1024px: 1rem // 17px
);

$btn-font-sizes: (null : 0.875rem, // 14px
);

$span-font-sizes: (null : 0.813rem, // 13px
);

$caption-font-sizes: (null : 0.71rem, // 12px
);
