@import "_base/variables";
@import "_base/reset";
@import "_base/bootstrap";
@import "_base/anims";
@import "_ui/btn";
@import "_ui/text";
@import "_fonts/fonts";
@import "_fonts/tipography";


* {
    box-sizing: border-box;
}

div,
p,
span {
    // user-select: none;
}

.p-20 {
    padding: 20px;
}
.p-30 {
    padding: 30px;
}

svg {
    //max-width: 16px;
    //max-height: 16px;
    fill: $text-secondary;
}

.icon {
    svg {
        max-width: 16px;
        max-height: 16px;
    }
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px 0 rgba(0, 0, 0, 0.0);
    box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.0);
    background: rgba(19, 24, 41, 0.3);
}

::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(19, 24, 41, 0.8);
    border: 0px solid rgba(19, 24, 41, 0.8);
    cursor: pointer;
}

html {
    position: relative;
    scroll-behavior: smooth;
}

body {
    font-family: $font-default, sans-serif;
    font-size: $text-size;
    font-weight: 300;
    color: $text-secondary;
    padding: 0;
    margin: 0;
}

input {
    font-family: $font-default, sans-serif;
}

h1 {
    color: $color-2;
    font-size: 48px;
    font-weight: 800;
    line-height: 56.35px;
}

h3 {
    color: $color-2;
    font-size: 30px;
    font-weight: 800;
    line-height: 35.22px;
}

p {
    margin-top: 32px;
    color: $color-5;
    font-weight: 400;
    font-size: 20px;
    line-height: 24.2px;
}